<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - eMedic.NETv5</title>
    <link href="~/assets/css/css.css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/login.css">
</head>
<body>
    @RenderBody()
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
</body>
</html>
