<%@ Page Title="Settings" MasterPageFile="~/eMedicNET.master" Language="C#" AutoEventWireup="true" Inherits="Manage_Settings" Codebehind="Settings.aspx.cs" %>
<asp:Content runat="server" ContentPlaceHolderID="head">
</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="contentForm">
    <h4>Settings</h4>
    <asp:Panel runat="server" ID="pnlError" CssClass="alert alert-error error-icon" Visible="false" ClientIDMode="Static">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <asp:Label runat="server" ID="lblError" ClientIDMode="Static"></asp:Label>
    </asp:Panel>
    <asp:Panel runat="server" ID="pnlSuccess" CssClass="alert alert-success success-icon" Visible="false">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>SUCCESS!</strong> The Record has been saved.
    </asp:Panel>
    <p>
        <asp:Button runat="server" ID="btnSaveTop" CssClass="btn btn-success" Text="Save Settings" OnCommand="SaveInfo"/>
    </p>
    <div class="well">
        <div class="control-group">
            <label class="control-label" for="txtPatRegnNo">Patient Regn No</label>
            <div class="controls">
                <asp:TextBox runat="server" ID="txtPatRegnNo" Required="true" ClientIDMode="Static"></asp:TextBox>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtSysEmail">System Email</label>
            <div class="controls">
                <asp:TextBox runat="server" ID="txtSysEmail" CssClass="input-xxlarge" Required="true" ClientIDMode="Static"></asp:TextBox>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtPassword">Password</label>
            <div class="controls">
                <asp:TextBox runat="server" ID="txtPassword" TextMode="Password" Required="true" ClientIDMode="Static"></asp:TextBox>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtSMTPHost">SMTP Host</label>
            <div class="controls">
                <asp:TextBox runat="server" ID="txtSMTPHost" Required="true" ClientIDMode="Static"></asp:TextBox>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtSMTPPort">SMTP Port</label>
            <div class="controls">
                <asp:TextBox runat="server" ID="txtSMTPPort" Required="true" ClientIDMode="Static"></asp:TextBox>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtSMSGatewayURL">SMS Gateway URL</label>
            <div class="controls">
                <asp:TextBox runat="server" ID="txtSMSGatewayURL" CssClass="input-xxlarge" Required="true" ClientIDMode="Static"></asp:TextBox>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtSMSGatewayUserID">Gateway User ID</label>
            <div class="controls">
                <asp:TextBox runat="server" ID="txtSMSGatewayUserID" Required="true" ClientIDMode="Static"></asp:TextBox>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtSMSGatewayPassword">Gateway Password</label>
            <div class="controls">
                <asp:TextBox runat="server" ID="txtSMSGatewayPassword" Required="true" ClientIDMode="Static"></asp:TextBox>
            </div>
        </div>
    </div>
    <p>
        <asp:Button runat="server" ID="btnSave" CssClass="btn btn-success" Text="Save" OnCommand="SaveInfo"/>
    </p>
</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="Script">
</asp:Content>
