@model eMedicEntityModel.Models.v1.LoginViewModel
@{
	Layout = "~/views/shared/_Initial.cshtml";
}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form validate-form" asp-action="Login" asp-controller="Auth">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<span class="login100-form-title p-b-45">
					Login
				</span>
				<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
					<input class="input100" asp-for="Email">
					<span class="focus-input100"></span>
					<span class="label-input100">Email</span>
				</div>


				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<input class="input100" asp-for="Password">
					<span class="focus-input100"></span>
					<span class="label-input100">Password</span>
				</div>

				<div class="flex-sb-m w-full p-t-15 p-b-20">
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" asp-for="RememberMe"> Remember me
							<span class="form-check-sign">
								<span class="check"></span>
							</span>
						</label>
					</div>

					<div>
						<a href="@Url.Action("ForgotPassword","Manage")" class="txt1">
							Forgot Password?
						</a>
					</div>
				</div>


				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Login
					</button>
				</div>
			</form>

			<div class="login100-more" style="background-image: url('../../assets/images/sign-in.jpg');">
			</div>
		</div>
	</div>
</div>
