@{
	ViewData["Title"] = "Dashboard";
}
@section css
{

}
@section js
{
	<script src="~/assets/js/admin.js"></script>
	<script src="~/assets/js/bundles/amcharts4/core.js"></script>
	<script src="~/assets/js/bundles/amcharts4/charts.js"></script>
	<script src="~/assets/js/bundles/amcharts4/animated.js"></script>
	<!-- Custom Js -->
	<script src="~/assets/js/pages/dashboard/dashboard2.js"></script>
}
<section class="content">
	<div class="container-fluid">
		<div class="block-header">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<ul class="breadcrumb breadcrumb-style">
						<li>
							<h4 class="page-title">@ViewBag.Title</h4>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xl-12">
				<div class="card">
					<div class="header">
						<h2>
							<strong>Sales</strong> Chart
						</h2>
					</div>
					<div class="body">
						<div class="recent-report__chart">
							<div id="barChart"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="header">
						<h2>
							<strong>Today</strong> Appointments
						</h2>
					</div>
					<div class="body">
						<div class="table-responsive">
							<table class="table table-hover table-borderless">
								<thead>
									<tr>
										<th>#</th>
										<th>Patient Name</th>
										<th>Time</th>
										<th>Therapist</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td><h6 class="mb-1">PATIENT 1</h6></td>
										<td>10-01-2023 10:00 am</td>
										<td>Therapist</td>
										<td>
											<button class="btn tblActnBtn">
												<i class="material-icons">mode_edit</i>
											</button>
										</td>
										<td>
											<button class="btn tblActnBtn">
												<i class="material-icons">delete</i>
											</button>
										</td>
									</tr>
									<tr>
										<td>2</td>
										<td><h6 class="mb-1">PATIENT 2</h6></td>
										<td>10-01-2023 10:15 am</td>
										<td>Therapist</td>
										<td>
											<button class="btn tblActnBtn">
												<i class="material-icons">mode_edit</i>
											</button>
										</td>
										<td>
											<button class="btn tblActnBtn">
												<i class="material-icons">delete</i>
											</button>
										</td>
									</tr>
									<tr>
										<td>3</td>
										<td><h6 class="mb-1">PATIENT 3</h6></td>
										<td>10-01-2023 11:00 am</td>
										<td>Therapist</td>
										<td>
											<button class="btn tblActnBtn">
												<i class="material-icons">mode_edit</i>
											</button>
										</td>
										<td>
											<button class="btn tblActnBtn">
												<i class="material-icons">delete</i>
											</button>
										</td>
									</tr>
									<tr>
										<td>4</td>
										<td><h6 class="mb-1">PATIENT 4</h6></td>
										<td>10-01-2023 11:30 am</td>
										<td>Therapist</td>
										<td>
											<button class="btn tblActnBtn">
												<i class="material-icons">mode_edit</i>
											</button>
										</td>
										<td>
											<button class="btn tblActnBtn">
												<i class="material-icons">delete</i>
											</button>
										</td>
									</tr>
									<tr>
										<td>5</td>
										<td><h6 class="mb-1">PATIENT 5</h6></td>
										<td>10-01-2023 12:00 pm</td>
										<td>Therapist</td>
										<td>
											<button class="btn tblActnBtn">
												<i class="material-icons">mode_edit</i>
											</button>
										</td>
										<td>
											<button class="btn tblActnBtn">
												<i class="material-icons">delete</i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<!-- line chart -->
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="card">
					<div class="header">
						<h2><strong>Revenue</strong> Chart</h2>
					</div>
					<div class="body">
						<div class="row text-center p-t-10">
							<div class="col-sm-4 col-6">
								<h4 class="margin-0">$ 209 </h4>
								<p class="text-muted"> Today's Income</p>
							</div>
							<div class="col-sm-4 col-6">
								<h4 class="margin-0">$ 837 </h4>
								<p class="text-muted">This Week's Income</p>
							</div>
							<div class="col-sm-4 col-6">
								<h4 class="margin-0">$ 3410 </h4>
								<p class="text-muted">This Month's Income</p>
							</div>
						</div>
						<div id="amchartLineDashboard" class="amChartHeight"></div>
					</div>
				</div>
			</div>
			<!-- Bar chart with line -->
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="card">
					<div class="header">
						<h2><strong>Revenue</strong> Chart</h2>
					</div>
					<div class="body">
						<div id="dumbbellPlotChart" class="amChartHeight"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
