<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
      <add key="api" value="http://192.168.0.102/api/"/>
      <add key="footer" value="QHC Medical Centre Tel: 03-80245760\r\n\r\n"/>
      <add key="printer" value="Panasonic KX-P1121"/>
      <add key="paper" value="LABEL"/>
    </appSettings>
</configuration>
