<%@ Page Language="C#" MasterPageFile="~/eMedicNET.master" Title="Reporting" AutoEventWireup="true" CodeBehind="reportingUI.aspx.cs" Inherits="emedic3.Reports.reportingUI" %>
<asp:Content runat="server" ContentPlaceHolderID="contentForm">
    <h3 id="headRecord">Reporting</h3>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text="Month"></asp:Label>
        <div class="controls">
            <asp:DropDownList runat="server" ID="drpMonth" ClientIDMode="Static">
                <asp:ListItem Value="1">JAN</asp:ListItem>
                <asp:ListItem Value="2">FEB</asp:ListItem>
                <asp:ListItem Value="3">MAR</asp:ListItem>
                <asp:ListItem Value="4">APR</asp:ListItem>
                <asp:ListItem Value="5">MAY</asp:ListItem>
                <asp:ListItem Value="6">JUN</asp:ListItem>
                <asp:ListItem Value="7">JUL</asp:ListItem>
                <asp:ListItem Value="8">AUG</asp:ListItem>
                <asp:ListItem Value="9">SEP</asp:ListItem>
                <asp:ListItem Value="10">OCT</asp:ListItem>
                <asp:ListItem Value="11">NOV</asp:ListItem>
                <asp:ListItem Value="12">DEC</asp:ListItem>
            </asp:DropDownList>
        </div>
    </div>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text="Year"></asp:Label>
        <div class="controls">
            <asp:TextBox runat="server" ID="txtYear" Required="true" ClientIDMode="Static" placeholder="2017"></asp:TextBox>
        </div>
    </div>
    <p>
        <button type="button" class="btn" onclick="viewReport()">View</button>
    </p>
</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="Script">
    <script type="text/javascript">
        function viewReport() {
            var win = window.open('<%:ResolveUrl("~/Reports/rptView.aspx")%>?_m=' + document.getElementById("drpMonth").value + '&_y=' + document.getElementById("txtYear").value, '_blank');
            return false;
        }
    </script>
</asp:Content>