<%@ Page Language="C#" MasterPageFile="~/eMedicNET.master" AutoEventWireup="true" Inherits="Appointments_SMSTrackReport" Codebehind="SMSTrackReport.aspx.cs" %>
<asp:Content ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ContentPlaceHolderID="contentForm" runat="server">
    <h4>Tracking Report</h4>
    <asp:GridView runat="server" ID="Lst" DataKeyNames="sms_id" AutoGenerateColumns="false" GridLines="Horizontal" CellPadding="1" CellSpacing="1" AllowPaging="true" Width="100%" PageSize="15"
        OnPageIndexChanging="PageIndexChanging" OnSorting="Sorting" AllowSorting="true">
        <Columns>
            <asp:BoundField DataField="sms_to" SortExpression="sms_to" ItemStyle-Width="10%" HeaderText="Contact H/P" />
            <asp:BoundField DataField="sms_time" SortExpression="sms_time" ItemStyle-Width="10%" HeaderText="Date" />
            <asp:BoundField DataField="sms_sent" SortExpression="sms_sent" ItemStyle-Width="10%" HeaderText="Sent on" />
            <asp:BoundField DataField="sms_appt" SortExpression="sms_appt" ItemStyle-Width="10%" HeaderText="Appointment" />
        </Columns>
    </asp:GridView>
</asp:Content>
<asp:Content ContentPlaceHolderID="Script" runat="server">
</asp:Content>
