<%@ Page Title="Services" MasterPageFile="~/eMedicNET.master" Language="C#" AutoEventWireup="true" Inherits="Patient_Services" Codebehind="Services.aspx.cs" %>
<asp:Content ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ContentPlaceHolderID="contentForm" runat="server">
    <h4>Services</h4>
    <div class="control-group">
        <div class="controls">
            <asp:DropDownList runat="server" ID="lstFields">
                <asp:ListItem Value="SERVICE_NAME">Service Name</asp:ListItem>
                <asp:ListItem Value="SERVICE_TYPE">Service Type</asp:ListItem>
            </asp:DropDownList>
            <asp:TextBox runat="server" ID="txtKeyword" placeholder="Search"></asp:TextBox>
            <asp:Button runat="server" ID="btnSearch" CssClass="btn" Text="Search" OnCommand="searchKeyword"/>
            <asp:Button runat="server" ID="btnNService" CssClass="btn" Text="New" OnCommand="newService" />
        </div>
    </div>
    
    <asp:GridView runat="server" ID="Lst" CssClass="" DataKeyNames="SERVICE_ID" AutoGenerateColumns="false" GridLines="None" CellPadding="1" CellSpacing="1" AllowPaging="true" Width="100%" PageSize="15"
        OnPageIndexChanging="PageIndexChanging" OnRowDataBound="RowDataBound" OnSorting="Sorting" AllowSorting="true"  AlternatingRowStyle-BackColor="ControlLightLight">
        <Columns>
            <asp:BoundField DataField="SERVICE_NAME" SortExpression="SERVICE_NAME" ItemStyle-Width="25%" HeaderText="Name of Service" />
            <asp:BoundField DataField="SERVICE_DESC" SortExpression="SERVICE_DESC" ItemStyle-Width="30%" HeaderText="Description" />
            <asp:BoundField DataField="SERVICE_CHARGE" SortExpression="SERVICE_CHARGE" ItemStyle-Width="10%"  ItemStyle-HorizontalAlign="Right" HeaderText="Charges [RM]" />
            <asp:BoundField DataField="SERVICE_TYPE" SortExpression="SERVICE_TYPE" ItemStyle-Width="25%" HeaderText="Service Type" />
            <asp:ButtonField ButtonType="Link" CommandName="bEdit" ItemStyle-Width="5%" Text="Edit" />
            <asp:ButtonField ButtonType="Link" CommandName="bDelte" ItemStyle-Width="5%" Text="Delete" />
        </Columns>
    </asp:GridView>
</asp:Content>
<asp:Content ContentPlaceHolderID="Script" runat="server">
    <script type="text/javascript">
        $("[src*=expand]").live("click", function () {
            $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>")
            $(this).attr("src", "<%:ResolveUrl("~/Content/img/icon-collapse.gif")%>");
        });
        $("[src*=collapse]").live("click", function () {
            $(this).attr("src", "<%:ResolveUrl("~/Content/img/icon-expand.gif")%>");
            $(this).closest("tr").next().remove();
        });
    </script>
</asp:Content>