<%@ Page Language="C#" MasterPageFile="~/eMedicNET.master" AutoEventWireup="true" Inherits="Billing_Company" Codebehind="Company.aspx.cs" %>
<asp:Content ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript">
    </script>
</asp:Content>
<asp:Content ContentPlaceHolderID="contentForm" runat="server">
    <h3 id="headRecord">Company</h3>
    <asp:Panel runat="server" ID="pnlError" CssClass="alert alert-error error-icon" ClientIDMode="Static" Visible="false">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <asp:Label runat="server" ID="lblError" ClientIDMode="Static"></asp:Label>
    </asp:Panel>
    <asp:Panel runat="server" ID="pnlSuccess" CssClass="alert alert-success success-icon" ClientIDMode="Static" Visible="false">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>SUCCESS!</strong> The Record has been saved Successfully.
    </asp:Panel>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text="Name"></asp:Label>
        <div class="controls">
            <asp:TextBox runat="server" ID="txtSName" Required="true" ClientIDMode="Static" CssClass="input-xxlarge" placeholder="NAME"></asp:TextBox>
            <asp:HiddenField runat="server" ID="hdnID" Value="0" />
        </div>
    </div>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text="Address"></asp:Label>
        <div class="controls">
            <asp:TextBox runat="server" ID="txtAddr1" Required="true" ClientIDMode="Static" placeholder="NO. 6, WISMA ABC" CssClass="input-xxlarge"></asp:TextBox>
        </div>
    </div>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text=""></asp:Label>
        <div class="controls">
            <asp:TextBox runat="server" ID="txtAddr2" ClientIDMode="Static" placeholder="JALAN " CssClass="input-xxlarge"></asp:TextBox>
        </div>
    </div>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text=""></asp:Label>
        <div class="controls">
            <asp:TextBox runat="server" ID="txtAddr3" ClientIDMode="Static" placeholder="SUBANG JAYA" CssClass="input-xxlarge"></asp:TextBox>
        </div>
    </div>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text="Email"></asp:Label>
        <div class="controls">
            <asp:TextBox runat="server" ID="txtEmail" ClientIDMode="Static" placeholder="supplier@domain.com " CssClass="input-xxlarge"></asp:TextBox>
        </div>
    </div>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text="Phone"></asp:Label>
        <div class="controls">
            <asp:TextBox runat="server" ID="txtTel1" ClientIDMode="Static" placeholder="+603 1234 5678 " CssClass="input-xlarge"></asp:TextBox>
        </div>
    </div>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text=""></asp:Label>
        <div class="controls">
            <asp:TextBox runat="server" ID="txtTel2" ClientIDMode="Static" placeholder="+603 1234 5678 " CssClass="input-xlarge"></asp:TextBox>
        </div>
    </div>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text="Fax"></asp:Label>
        <div class="controls">
            <asp:TextBox runat="server" ID="txtFax" ClientIDMode="Static" placeholder="+603 1234 5678 " CssClass="input-xlarge"></asp:TextBox>
        </div>
    </div>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text="Contact Person"></asp:Label>
        <div class="controls">
            <asp:TextBox runat="server" ID="txtCPerson" ClientIDMode="Static" placeholder="MR. ABC " CssClass="input-xxlarge"></asp:TextBox>
        </div>
    </div>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text="Handphone"></asp:Label>
        <div class="controls">
            <asp:TextBox runat="server" ID="txtHPNo" ClientIDMode="Static" placeholder="+60 12 345 6789 " CssClass="input-xlarge"></asp:TextBox>
        </div>
    </div>
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text="Account"></asp:Label>
        <div class="controls">
            <asp:TextBox runat="server" ID="txtAcctNo" ClientIDMode="Static" placeholder="ABC122332 " CssClass="input-xlarge"></asp:TextBox>
        </div>
    </div>
    <!--
    <div class="control-group">
        <asp:Label runat="server" CssClass="control-label" Text="Active"></asp:Label>
        <div class="controls">
            <asp:DropDownList runat="server" ID="actFlag">
                <asp:ListItem Value="0">NO</asp:ListItem>
                <asp:ListItem Value="1">YES</asp:ListItem>
            </asp:DropDownList>
        </div>
    </div>-->
    <p>
        <button type="button" class="btn btn-success" onclick="saveInfo()">Save</button>
    </p>
</asp:Content>
<asp:Content ContentPlaceHolderID="Script" runat="server">
    <script type="text/javascript">
        function saveInfo() {
            var Data = $("#frm").serializeArray();
            $.ajax({
                type: 'POST',
                url: 'Company.aspx/saveInfo',
                data: JSON.stringify({ frmV: Data }),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (response) {
                    if (response.d != '') {
                        alert(response.d);
                    }
                    else {
                        opener.location.reload();
                        window.close();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    </script>
</asp:Content>

